@model IEnumerable<PartyTavern.Models.Game>

@{
    ViewData["Title"] = "Dostępne gry";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Gra</th>
            <th>Gatunek</th>
            <th>Opis</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Model)
        {
            <tr>
                <td>@game.Name</td>
                <td>@game.Genre</td>
                <td>@game.Description</td>
                <td>
                    <a href="@Url.Action("EditGame", new { id = game.Id })" class="btn btn-warning">Edytuj</a>
                    <a href="@Url.Action("DeleteGame", new { id = game.Id })" class="btn btn-danger">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("AddGame")" class="btn btn-success">Dodaj nową grę</a>
